08_deep_learning/clothing-dataset-small-master/
08_deep_learning/Homework8/data/
09_serverless/REMORE_URI.yml
10_kubernetes/plan.md
10_kubernetes/python-3.9.13-amd64.exe
Capstone_Project_1/data/sample_submission.csv
Capstone_Project_1/Testing test data/
Capstone_Project_2/data/
Capstone_Project_2/testingServerless.mp4
Article/INTRODUCCION.docx
Article/~$TRODUCCION.docx
